@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-submit {
  @include setBgColor($green, $white);
  padding: size(8.5) size(40);
  @include radius(6);
  @include font($secondaryFont, 16, normal, normal, 24);
  text-align: center;
  max-height: size(42);

  @include breakpoint(tab992) {
    @include font($secondaryFont, 18, normal, normal, 25);
  }

  @include hover {
    @include setBgColor(darken($green, 20%), $white);
  }
}

.btn-shop {
  @include font($secondaryFont, 14, normal, normal, 20);
  padding: size(12) size(16);
  @include radius(6);
  text-align: center;
  @include transitionsall;

  @include breakpoint(mobile768) {
    padding: size(16) size(40);
    @include font($secondaryFont, 16, normal, normal, 24);
  }

  @include breakpoint(tab992) {
    @include font($secondaryFont, 18, normal, normal, 25);
  }

  &.business {
    @include setBgColor($white, $btnText);

    @include hover {
      @include setBgColor($btnText, $white);
    }
  }

  &.brochures {
    @include setBgColor($tertiary, $black);

    @include hover {
      @include setBgColor($black, $tertiary);
    }
  }

}

.btn-product {
  @include setBgColor($white, $buttonText);
  @include border(solid, 1, $secondary);
  @include radius(6);
  @include font($secondaryFont, 14, normal, normal, 20);
  padding: size(12) size(24);
  @include transitionsall;

  @include breakpoint(desktop1200) {
    padding: size(12) size(20);
    @include font($secondaryFont, 16, normal, normal, 24);
  }

  @include breakpoint(desktop1400) {
    padding: size(12) size(32);
    @include font($secondaryFont, 18, normal, normal, 25);
  }

  @include hover {
    @include setBgColor($buttonText, $white);
    border-color: $buttonText;
  }
}

.btn-more {
  @include setBgColor($white, $btnText);
  @include border(solid, 1, $secondary);
  @include radius(6);
  @include font($secondaryFont, 14, normal, normal, 20);
  padding: size(12) size(32);
  @include transitionsall;

  @include breakpoint(mobile768) {
    padding: size(12) size(40);
    @include font($secondaryFont, 16, normal, normal, 24);
  }

  @include breakpoint(tab992) {
    @include font($secondaryFont, 18, normal, normal, 25);
  }

  @include hover {
    @include setBgColor($btnText, $secondary);
    border-color: $btnText;
  }
}

.btn-send {
  @include setBgColor($white, $btnText);
  text-align: center;
  padding: size(8) size(48);
  @include radius(8);
  @include border(solid, 1, $secondary);
  @include font($secondaryFont, 14, normal, normal, 20);
  @include transitionsall;

  @include breakpoint(mobile768) {
    @include font($secondaryFont, 16, normal, normal, 24);
  }

  @include breakpoint(tab992) {
    @include font($secondaryFont, 18, normal, normal, 25);
  }

  @include hover {
    @include setBgColor($btnText, $white);
    border-color: $btnText;
  }
}

.btn-size {
  width: calc(50% - size(12));
  @include flex-center-column;
  gap: size(4);
  @include border(solid, 1, $secondary);
  @include radius(8);
  padding: size(10) size(16);
  @include transitionsall;

  @include breakpoint(mobile576) {
    width: calc(33% - size(12));
  }

  @include breakpoint(mobile768) {
    width: calc(25% - size(12));
  }

  @include breakpoint(tab992) {
    width: calc(50% - size(12));
  }

  @include breakpoint(desktop1400) {
    width: auto;
  }

  .size-text {
    color: $black;
    @include font($secondaryFont, 14, normal, normal, 20);
  }

  .size-type {
    color: $textGray;
    @include font($secondaryFont, 12, normal, normal, 16);
    @include text-overflow;

    @include breakpoint(mobile768) {
      max-width: 100%;
    }
  }

  &:hover:not(.active) {
    background: $secondary;

    .size-type {
      color: $buttonText;
    }
  }

  &.active {
    background: $secondary;

    .size-type {
      color: $buttonText;
    }
  }
}

.btn-side {
  @include setBgColor($white, $black);
  @include border(solid, 1, $secondary);
  @include radius(8);
  padding: size(10) size(16);
  width: calc(50% - size(12));
  @include font($secondaryFont, 14, normal, normal, 20);
  @include flex-center-column;
  gap: size(4);
  @include transitionsall;

  .size-text {
    color: $black;
    @include font($secondaryFont, 14, normal, normal, 20);
  }

  .size-type {
    color: $textGray;
    @include font($secondaryFont, 12, normal, normal, 16);
    @include text-overflow;

    @include breakpoint(mobile768) {
      max-width: 100%;
    }
  }

  &:hover:not(.active) {
    background: $secondary;

    .size-type {
      color: $buttonText;
    }
  }

  &.active {
    background: $secondary;

    .size-type {
      color: $buttonText;
    }
  }
}

.btn-choose {
  @include setBgColor($white, $black);
  @include border(solid, 1, $secondary);
  @include radius(8);
  padding: size(10) size(16);
  @include font($secondaryFont, 14, normal, normal, 20);
  width: calc(50% - size(12));

  @include breakpoint(mobile768) {
    width: calc(33% - size(12));
  }

  @include breakpoint(tab992) {
    width: calc(50% - size(12));
  }

  @include breakpoint(desktop1400) {
    width: calc(33% - size(12));
  }

  &:hover:not(.active) {
    @include setBgColor($secondary, $black);
  }

  &.active {
    @include setBgColor($secondary, $black);
  }
}

.btn-browse {
  cursor: pointer;
  @include flex-center;
  gap: size(4);
  padding: size(12);
  @include radius(8);
  background: $green;
  @include transitionsbackground;

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }

  .text {
    color: $white;
    @include font($secondaryFont, 14, normal, normal, 20);
    display: none;

    @include breakpoint(mobile576) {
      display: block;
    }
  }

  @include hover {
    background: darken($green, 25%);
  }
}