@use '../../global' as *;
@use '../../partials' as *;

.product {
  @include flex-column;

  &-header {
    @include w100;
    height: size(200);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
      @include transitiontransform;

      @include hover {
        @include scale(1.05);
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(14);
    @include border(solid, 1, $secondary);
    padding: size(24);

    .product-title {
      color: $black;
      @include font($secondaryFont, 24, normal, normal, 24);

      @include breakpoint(tab992) {
        @include font($secondaryFont, 28, normal, normal, 28);
      }
    }

    .productinfo {
      @include flex-column;
      gap: size(12);

      .product-text {
        color: $black;
        @include font($primaryFont, 14, normal, normal, 20);

        @include breakpoint(tab992) {
          @include font($primaryFont, 16, normal, normal, 24);
        }
      }
    }

    .cardlink {
      @include flex-center;
      margin-top: size(14);
    }
  }
}

.cardhome {
  &-header {
    @include w100;
    height: size(200);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(mobile768) {
      height: size(280);
    }

    @include breakpoint(tab992) {
      height: size(320);
    }

    img {
      @include wh100;
      object-fit: cover;
      @include transitiontransform;

      @include hover {
        @include scale(1.05);
      }
    }
  }

  &-body {
    @include flex-center-column;
    gap: size(16);
    text-align: center;
    padding: size(16) size(16) size(32);

    @include breakpoint(mobile768) {
      gap: size(24);
    }

    @include breakpoint(tab992) {
      gap: size(32);
    }

    .cardhome-title {
      color: $black;
      @include font($secondaryFont, 24, normal, normal, 24);
      @include transitionscolor;

      @include breakpoint(tab992) {
        @include font($secondaryFont, 28, normal, normal, 28);
      }

      @include breakpoint(desktop1400) {
        @include font($secondaryFont, 36, normal, normal, 36);
      }

      @include hover {
        color: $green;
      }
    }
    
    .cardinfo {
      .cardhome-text {
        color: $black;
        @include font($primaryFont, 14, normal, normal, 20);

        @include breakpoint(tab992) {
          @include font($primaryFont, 16, normal, normal, 24);
        }
      }
    }

    .cardlink {
      @include flex-center;
      margin-top: size(8);
    }
  }
}

.card-feature {
  @include flex-center-column;
  gap: size(14);
  text-align: center;

  @include breakpoint(tab992) {
    max-width: 80%;
    margin-inline: auto;
  }

  .icon {
    @include square(60);
    @include flex-center;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }

  .feature-title {
    color: $black;
    @include font($secondaryFont, 20, normal, normal, 20);

    @include breakpoint(tab992) {
      @include font($secondaryFont, 24, normal, normal, 24);
    }
  }
  
  .feature-text {
    color: $black;
    @include font($primaryFont, 14, normal, normal, 20);

    @include breakpoint(tab992) {
      @include font($primaryFont, 16, normal, normal, 24);
    }
  }
}

.card-printshop {
  @include flex-center-column;
  text-align: center;
  box-shadow: $boxshadow-2;

  &-header {
    @include w100;
    height: size(200);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
      @include transitiontransform;

      @include hover {
        @include scale(1.05);
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(14);
    @include border(solid, 1, $secondary);
    padding: size(24) size(24) size(48);

    .print-title {
      color: $black;
      @include font($secondaryFont, 20, normal, normal, 20);
  
      @include breakpoint(tab992) {
        @include font($secondaryFont, 24, normal, normal, 24);
      }
    }

    .descriptions {
      @include flex-center-column;
      gap: size(14);
      text-align: center;

      .text {
        color: $black;
        @include font($primaryFont, 14, normal, normal, 20);
    
        @include breakpoint(tab992) {
          @include font($primaryFont, 16, normal, normal, 24);
        }
      }
    }
  }
}

.card-contact {
  @include h100;
  @include flex-column;
  gap: size(24);
  @include border(solid, 1, $secondary);
  @include radius(6);
  background: $white;
  box-shadow: $boxshadow-2;
  padding: size(24) size(16);
  text-align: center;

  .title {
    color: $textDark;
    @include font($secondaryFont, 24, normal, normal, 24);

    @include breakpoint(tab992) {
      @include font($secondaryFont, 28, normal, normal, 28);
    }
  }

  .info {
    .text {
      color: $black;
      @include font($primaryFont, 16, normal, normal, 24);

      @include breakpoint(mobile768) {
        @include font($primaryFont, 18, normal, normal, 26);
      }

      // @include breakpoint(desktop1200) {
      //   @include font($primaryFont, 20, normal, normal, 28);
      // }
    }

    .link {
      color: $black;
      @include font($primaryFont, 16, normal, normal, 24);
      @include transitionscolor;

      @include breakpoint(mobile768) {
        @include font($primaryFont, 18, normal, normal, 26);
      }

      // @include breakpoint(desktop1200) {
      //   @include font($primaryFont, 20, normal, normal, 28);
      // }

      @include hover {
        color: darken($green, 20%);
      }
    }
  }
}