@use '../../global' as *;
@use '../../partials' as *;

.modal {
  &-content {
    @include radius(25);
  }
  
  &-header {
    border-bottom: 0;

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;

      svg {
        @include wh100;

        path {
          fill: rgba($danger, 0.4);
          @include transitionsall;
        }
      }

      @include hover {
        svg {
          path {
            fill: $danger;
          }
        }
      }
    }
  }

  &-body {
    
  }
}